<manifest
    package="com.port.ocean.shipping.consignor"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity
            android:name=".activity.IdentityActivity"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden"/>
        <activity
            android:name=".activity.PublishGoodsSupplyActivity"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden"/>
        <activity
            android:name=".activity.GoodsSupplyManagerActivity"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden"/>
        <activity
            android:name=".activity.MobileVerificationLaunchActivity"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden"/>
        <activity
            android:name=".activity.MobileVerificationResultActivity"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden"/>
        <activity
            android:name=".activity.DealActivity"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden"/>

    </application>


</manifest>
